# Default owner
* @yahntientcheu-ops

# Platform configuration
/.github/ @yahntientcheu-ops

# Application code
/src/ @yahntientcheu-ops

# Tests
/test/ @yahntientcheu-ops

# Deployment configuration
/deploy/ @yahntientcheu-ops
